# Data & Output Files (Large TSV files)
dataset/
output/
*.tsv
*.log
*.zip

# Ignore all .txt EXCEPT requirements and model
*.txt
!requirements.txt
!model.txt

# Cache & Environment
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
